Repository colorful-lollipop/kestrel: changes, and which Codecov flags are due for each by the changed paths.
All: core, compiler, runtime, ebpf

perf(nfa): optimize engine with zero-copy and lock-free metrics
  AGENTS.md
  GEMINI.md
  docs/COMMERCIAL_GUIDE.md
  docs/COMMERCIAL_ROADMAP.md
  docs/OPTIMIZATION_REPORT.md
  docs/PERFORMANCE_OPTIMIZATION.md
  docs/QUICKSTART.md
  docs/TEST_REPORT.md
  kestrel-core/src/runtime_comparison.rs
  kestrel-engine/src/lib.rs
  kestrel-hybrid-engine/src/analyzer.rs
  kestrel-hybrid-engine/src/engine.rs
  kestrel-lazy-dfa/src/cache.rs
  kestrel-lazy-dfa/src/converter.rs
  kestrel-lazy-dfa/src/detector.rs
  kestrel-lazy-dfa/src/dfa.rs
  kestrel-lazy-dfa/tests/integration_test.rs
  kestrel-nfa/src/engine.rs
  kestrel-nfa/src/metrics.rs
  kestrel-runtime-lua/src/lib.rs
Due: core, compiler, runtime

test(production): add real-world attack scenario tests
  docs/SHOWCASE.md
  kestrel-engine/tests/production_scenarios.rs
Due: none

docs: add final test report and showcase documentation
  docs/FINAL_TEST_REPORT.md
Due: none

docs: update all markdown documents to reflect current project status
  AGENTS.md
  ARCH_REFACTOR_SUMMARY.md
  CHANGELOG.md
  PLANNING.md
  PROGRESS.md
  README.md
  REFACTOR_SUMMARY.md
  top_problem.md
Due: none

feat(rules): add comprehensive production-ready detection rules
  rules/README.md
  rules/credential_access/manifest.json
  rules/credential_access/predicate.lua
  rules/credential_access/rule.eql
  rules/data_exfiltration/manifest.json
  rules/data_exfiltration/predicate.lua
  rules/data_exfiltration/rule.eql
  rules/lateral_movement/manifest.json
  rules/lateral_movement/predicate.lua
  rules/lateral_movement/rule.eql
  rules/privilege_escalation/manifest.json
  rules/privilege_escalation/predicate.lua
  rules/privilege_escalation/rule.eql
  rules/ransomware_detection/manifest.json
  rules/ransomware_detection/predicate.lua
  rules/ransomware_detection/rule.eql
  rules/reverse_shell_detection/manifest.json
  rules/reverse_shell_detection/predicate.lua
  rules/reverse_shell_detection/rule.eql
Due: none

fix(eventbus): fix test_replay_event_ordering_deterministic by adding background consumer
  AGENTS.md
  IMPLEMENTATION_PLAN.md
  kestrel-core/src/eventbus.rs
Due: core

perf(schema): use DashMap for concurrent SchemaRegistry
  Cargo.toml
  IMPLEMENTATION_PLAN.md
  kestrel-schema/Cargo.toml
  kestrel-schema/src/lib.rs
Due: core

feat(ebpf): add health checker for eBPF subsystem
  IMPLEMENTATION_PLAN.md
  kestrel-ebpf/src/health.rs
  kestrel-ebpf/src/lib.rs
Due: ebpf

style(core): fix compiler warnings in kestrel-core
  IMPLEMENTATION_PLAN.md
  kestrel-benchmark/src/latency.rs
  kestrel-benchmark/src/memory.rs
  kestrel-benchmark/src/nfa.rs
  kestrel-benchmark/src/stress_test.rs
  kestrel-benchmark/src/throughput.rs
  kestrel-benchmark/src/utils.rs
  kestrel-benchmark/src/wasm_runtime.rs
  kestrel-core/src/deterministic.rs
  kestrel-core/src/object_pool.rs
  kestrel-core/src/replay.rs
  kestrel-core/src/runtime_comparison.rs
  kestrel-ebpf/src/executor.rs
  kestrel-ebpf/src/health.rs
  kestrel-ebpf/src/lsm.rs
  kestrel-engine/src/runtime.rs
  kestrel-ffi/src/engine.rs
  kestrel-runtime-wasm/src/lib.rs
Due: core, runtime, ebpf

docs: add architecture documentation
  IMPLEMENTATION_PLAN.md
  docs/architecture.md
Due: none

docs: update implementation plan with completion status
  IMPLEMENTATION_PLAN.md
Due: none

feat(eql): add array quantifier any/all syntax support
  IMPLEMENTATION_PLAN.md
  kestrel-eql/src/ast.rs
  kestrel-eql/src/codegen_wasm.rs
  kestrel-eql/src/eql.pest
  kestrel-eql/src/ir.rs
  kestrel-eql/src/parser.rs
  kestrel-eql/src/semantic.rs
Due: compiler

feat(metrics): add PoolMetrics Prometheus export
  IMPLEMENTATION_PLAN.md
  kestrel-core/src/metrics.rs
Due: core

feat(config): add hot reload support with ConfigManager
  IMPLEMENTATION_PLAN.md
  kestrel-core/src/config_reload.rs
  kestrel-core/src/lib.rs
Due: core

docs(agents): Update AGENTS.md with accurate project info
  AGENTS.md
  kestrel-nfa/src/state.rs
Due: compiler

docs(readme): Comprehensive rewrite with technical depth
  README.md
Due: none

test(hybrid-engine): disable budget limits in comprehensive e2e helper
  kestrel-hybrid-engine/tests/comprehensive_e2e.rs
Due: none

refactor: abstract platform layer for cross-platform development
  docs/archive/ARCH_PROBLEM_FIXES.md
  docs/archive/REFACTOR_ANALYSIS.md
  docs/archive/TEST_REFACTOR_AND_CODE_IMPROVEMENTS.md
  docs/archive/TEST_REFACTOR_SUMMARY.md
  docs/archive/TOP_PROBLEM_FIXES.md
  docs/archive/code_review.md
  docs/archive/code_review_from_tests.md
  docs/archive/record.md
  docs/archive/review.md
  docs/archive/suggest.md
  docs/archive/test_refactor_plan.md
  docs/archive/top_problem.md
  docs/archive/top_problem_arch.md
  docs/archive/top_problem_arch_detail.md
  kestrel-cli/Cargo.toml
  kestrel-cli/src/main.rs
  kestrel-core/src/lib.rs
  kestrel-core/src/platform.rs
  kestrel-ebpf/Cargo.toml
  kestrel-ebpf/src/lib.rs
  kestrel-engine/src/lib.rs
  kestrel-engine/src/runtime.rs
Due: core, ebpf

docs: update plan with platform abstraction layer progress
  plan.md
Due: none

feat(ebpf): add platform-agnostic event types module
  kestrel-ebpf/src/types.rs
Due: ebpf

feat(collector-macos): add macOS event collector using Endpoint Security Framework
  Cargo.toml
  kestrel-cli/Cargo.toml
  kestrel-cli/src/main.rs
  kestrel-collector-macos/Cargo.toml
  kestrel-collector-macos/src/esf.rs
  kestrel-collector-macos/src/lib.rs
  kestrel-collector-macos/src/normalize.rs
  kestrel-collector-macos/src/proc_info.rs
  kestrel-collector-macos/src/types.rs
Due: none

perf(engine): use ArcSwap for single-event rules lock-free reads
  kestrel-engine/Cargo.toml
  kestrel-engine/src/lib.rs
Due: core

perf(schema): TypedValue::String uses Arc<str> for O(1) clone
  config.json
  examples/event_simulator.rs
  kestrel-collector-macos/src/normalize.rs
  kestrel-core/src/deterministic.rs
  kestrel-core/src/replay.rs
  kestrel-core/src/runtime_comparison.rs
  kestrel-core/tests/deterministic.rs
  kestrel-ebpf/src/normalize.rs
  kestrel-engine/src/lib.rs
  kestrel-engine/tests/compliance_monitoring_tests.rs
  kestrel-engine/tests/comprehensive_tests.rs
  kestrel-engine/tests/integration_e2e.rs
  kestrel-engine/tests/performance_stress_tests.rs
  kestrel-event/tests/comprehensive_tests.rs
  kestrel-event/tests/performance_memory_tests.rs
  kestrel-hybrid-engine/tests/advanced_threat_tests.rs
  kestrel-hybrid-engine/tests/e2e_real_world_scenarios.rs
  kestrel-nfa/tests/edge_case_tests.rs
  kestrel-runtime-wasm/tests/comprehensive_tests.rs
  kestrel-schema/src/lib.rs
  kestrel-schema/tests/comprehensive_tests.rs
  kestrel-schema/tests/performance_memory_tests.rs
Due: core, ebpf

perf(nfa): use Arc<NfaSequence> for zero-copy cloning
  kestrel-nfa/src/engine.rs
Due: compiler

perf(nfa): use Arc<Event> in partial matches for zero-copy cloning
  kestrel-nfa/src/engine.rs
  kestrel-nfa/src/lib.rs
  kestrel-nfa/src/state.rs
  kestrel-nfa/src/store.rs
Due: compiler

perf(nfa): use SeqId (u32) for StateShard keys
  kestrel-nfa/src/lib.rs
  kestrel-nfa/src/store.rs
Due: compiler

feat(wasm): implement field tracking for predicates
  kestrel-engine/src/lib.rs
  kestrel-engine/src/runtime.rs
  kestrel-runtime-wasm/src/lib.rs
Due: core, runtime

perf(normalizer): optimize string conversion in eBPF normalizer
  kestrel-ebpf/src/normalize.rs
Due: ebpf

perf(event): optimize field access with hybrid search strategy
  kestrel-event/src/lib.rs
Due: core

feat(nfa): add CachedPredicateEvaluator for predicate result caching
  kestrel-nfa/src/lib.rs
Due: compiler

fix: critical correctness, safety, and performance issues
  config.json
  kestrel-core/Cargo.toml
  kestrel-core/src/action.rs
  kestrel-core/src/eventbus.rs
  kestrel-core/src/time.rs
  kestrel-engine/src/lib.rs
  kestrel-engine/src/runtime.rs
  kestrel-nfa/src/engine.rs
  kestrel-nfa/src/lib.rs
  kestrel-nfa/src/store.rs
Due: core, compiler

refactor: core crate cleanup, Wasm evaluate, parallel compilation, runtime fixes
  kestrel-core/src/deterministic.rs
  kestrel-core/src/lib.rs
  kestrel-core/src/object_pool.rs
  kestrel-core/src/platform.rs
  kestrel-core/src/replay.rs
  kestrel-core/src/runtime_comparison.rs
  kestrel-core/tests/deterministic.rs
  kestrel-ebpf/src/executor.rs
  kestrel-ebpf/src/lib.rs
  kestrel-ebpf/src/lsm.rs
  kestrel-engine/src/lib.rs
  kestrel-engine/src/runtime.rs
  kestrel-nfa/src/engine.rs
  kestrel-runtime-lua/Cargo.toml
  kestrel-runtime-lua/src/lib.rs
  kestrel-runtime-wasm/src/lib.rs
Due: core, compiler, runtime, ebpf

refactor: eliminate 250+ code duplications, extract shared abstractions
  examples/perf_comparison.rs
  kestrel-benchmark/Cargo.toml
  kestrel-benchmark/benches/hybrid_benchmark.rs
  kestrel-benchmark/benches/quick_perf_test.rs
  kestrel-benchmark/src/stress_test.rs
  kestrel-benchmark/src/utils.rs
  kestrel-core/src/action.rs
  kestrel-core/src/replay.rs
  kestrel-engine/Cargo.toml
  kestrel-engine/src/lib.rs
  kestrel-engine/src/runtime.rs
  kestrel-engine/tests/malware_behavior_tests.rs
  kestrel-event/src/host_api.rs
  kestrel-event/src/lib.rs
  kestrel-hybrid-engine/Cargo.toml
  kestrel-hybrid-engine/src/release_perf.rs
  kestrel-hybrid-engine/tests/advanced_threat_tests.rs
  kestrel-hybrid-engine/tests/complex_rules_test.rs
  kestrel-hybrid-engine/tests/comprehensive_functional_test.rs
  kestrel-hybrid-engine/tests/e2e_real_world_scenarios.rs
  kestrel-hybrid-engine/tests/e2e_test.rs
  kestrel-hybrid-engine/tests/integration_test.rs
  kestrel-nfa/Cargo.toml
  kestrel-nfa/src/lib.rs
  kestrel-nfa/tests/comprehensive_tests.rs
  kestrel-runtime-lua/src/lib.rs
  kestrel-runtime-wasm/src/lib.rs
  kestrel-runtime-wasm/tests/comprehensive_tests.rs
  kestrel-schema/src/lib.rs
  kestrel-schema/src/macros.rs
Due: core, compiler, runtime

fix(wasm-runtime): Replace tokio locks with parking_lot, remove all block_in_place/block_on
  kestrel-runtime-wasm/Cargo.toml
  kestrel-runtime-wasm/src/lib.rs
Due: runtime

feat(engine): Redesign EngineError, unify Platform types, create EventProcessor trait
  kestrel-collector-macos/src/lib.rs
  kestrel-core/src/platform.rs
  kestrel-ebpf/src/platform.rs
  kestrel-engine/src/lib.rs
  kestrel-engine/src/processor.rs
  kestrel-engine/src/runtime.rs
  kestrel-engine/tests/advanced_e2e_scenarios.rs
  kestrel-schema/src/lib.rs
Due: core, ebpf

feat(core): Add AlertSink, MetricsReporter traits; extract HostApiV1
  kestrel-core/src/alert.rs
  kestrel-core/src/alert_sink.rs
  kestrel-core/src/lib.rs
  kestrel-core/src/metrics_reporter.rs
  kestrel-event/Cargo.toml
  kestrel-event/src/host_api.rs
  kestrel-runtime-lua/src/lib.rs
  kestrel-runtime-wasm/src/lib.rs
Due: core, runtime

feat(nfa): Two-phase parallel evaluation + Arc<Event> propagation + benchmarks
  examples/perf_comparison.rs
  kestrel-benchmark/Cargo.toml
  kestrel-benchmark/benches/event_processing.rs
  kestrel-benchmark/benches/field_access.rs
  kestrel-benchmark/benches/hybrid_benchmark.rs
  kestrel-benchmark/benches/nfa_sequence.rs
  kestrel-benchmark/benches/predicate_evaluation.rs
  kestrel-benchmark/benches/quick_perf_test.rs
  kestrel-benchmark/src/latency.rs
  kestrel-benchmark/src/nfa.rs
  kestrel-engine/src/lib.rs
  kestrel-engine/tests/advanced_e2e_scenarios.rs
  kestrel-engine/tests/cloud_security_tests.rs
  kestrel-engine/tests/compliance_monitoring_tests.rs
  kestrel-engine/tests/detection_scenarios.rs
  kestrel-engine/tests/file_integrity_tests.rs
  kestrel-engine/tests/integration_e2e.rs
  kestrel-engine/tests/iot_ot_security_tests.rs
  kestrel-engine/tests/malware_behavior_tests.rs
  kestrel-engine/tests/production_scenarios.rs
  kestrel-engine/tests/threat_hunting_tests.rs
  kestrel-hybrid-engine/src/engine.rs
  kestrel-nfa/src/engine.rs
Due: core, compiler

fix(nfa): Add EventRef trait for process_event_blocking to accept both &Event and Arc<Event>
  kestrel-nfa/src/engine.rs
Due: compiler

Path conditions:
  core: any of: kestrel-core/, kestrel-engine/, kestrel-schema/, kestrel-event/, but not: tests/*, examples/*, benches/*, */tests/*, */examples/*, */benches/*
  compiler: any of: kestrel-eql/, kestrel-nfa/, kestrel-rules/, but not: tests/*, examples/*, benches/*, */tests/*, */examples/*, */benches/*
  runtime: any of: kestrel-runtime-wasm/, kestrel-runtime-lua/, but not: tests/*, examples/*, benches/*, */tests/*, */examples/*, */benches/*
  ebpf: any of: kestrel-ebpf/, but not: tests/*, examples/*, benches/*, */tests/*, */examples/*, */benches/*
